@model EventViewModel
@{
    ViewData["Title"] = Model.Event.Name;
}

<div class="card-body">
    <h3>Stats</h3>
    <dt>Time</dt>
    <dd>@Model.Event.Time</dd>
    <dt>RSVPs</dt>
    <dd>@Model.Event.YesRsvpCount</dd>
    
    @if (Model.Event.SpeakerData != null)
    {
        <dt>Speaker Data:</dt>
        <ul>
        @foreach (var name in @Model.Event.SpeakerData.Names)
        {
            <li>@name</li>
        }
        </ul>
        <dt>Pronouns extracted:</dt>
        <ul>
        @foreach (var pronoun in @Model.Event.SpeakerData.Pronouns)
        {
            <li>@pronoun</li>
        }
        </ul>
    }
    else
    {
        <p>No speaker data available for this event.</p>
    }
</div>


<div class="card-body">
    <h3>Description</h3>
    @Html.Raw(Model.Event.Description)
</div>