@model GroupViewModel
@{
ViewData["Title"] = Model.Name;
}

<div class="card-body">
    <a asp-controller="Group" asp-action="Events" class="btn btn-primary">Events</a>
</div>

<div class="card-body">
    <h3 class="title">Info</h3>
    <dt>Organiser:</dt>
    <dd>@Model.Organiser</dd>
    <dt>Created:</dt>
    <dd>@Model.Created</dd>
    <dt>Total members:</dt>
    <dd>@Model.Members</dd>
</div>

<div class="card-body">
    <h3 class="title">Description</h3>
    @Html.Raw(@Model.Description)
</div>