@model GroupsViewModel

@{
    ViewData["Title"] = $"Meetup List ({Model.TotalGroups})";
}

<!-- <form asp-controller="Home" asp-action="Search" method="post">
    <h2>Search</h2>
    <div class="form-group">
        <label class="form-label" for="Country">Country</label>
        <input name="Country" type="text" class="form-control" value="@Model.Query.Country">
    </div>
    <div class="form-group">
        <label class="form-label" for="Lat">Latitude</label>
        <input name="Lat" type="text" class="form-control" value="@Model.Query.Lat">
    </div>
    <div class="form-group">
        <label class="form-label" for="Lon">Longitude</label>
        <input name="Lon" type="text" class="form-control" value="@Model.Query.Lon">
    </div>
    <div class="form-group">
        <label class="form-label" for="Radius">Radius (miles)</label>
        <input name="Radius" type="number" class="form-control" value="@Model.Query.Radius">
    </div>
    <div class="form-group">
        <label class="form-label" for="CategoryId">Category ID</label>
        <input name="CategoryId" type="number" class="form-control" value="@Model.Query.CategoryId">
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form> -->

<div class="table-responsive">
    <table class="table card-table table-striped table-vcenter">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Meetup name</th>
                <th class="text-right">Founded</th>
                <th class="text-right">Members</th>
                <th class="text-right">Events</th>
                <th class="text-right">Join</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Groups.Select((group, index) => new { group, index }))
            {
            <tr>
                <td class="w-1">@(row.index + 1)</td>
                <td><a asp-controller="Group" asp-action="Index" asp-route-urlname="@row.group.UrlName">@row.group.Name</a></td>
                <td class="text-right">@row.group.Created.ToString("yyyy")</td>
                <td class="text-right">@row.group.Members</td>
                <td class="w-1 text-right"><a asp-controller="Group" asp-action="Events" asp-route-urlname="@row.group.UrlName"><i class="fe fe-bar-chart-2"></i></a></td>
                <td class="w-1 text-right"><a href="https://www.meetup.com/@row.group.UrlName/" title="Join @row.group.Name (takes you to external webpage)" target="_blank"><i class="fe fe-external-link"></i></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>